@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Octavio A01207939</h1>
    <p>I want the kind of job that has flexibility and freedom in a sense that I can choose where to work and when. Freedom of choice to work, either on site at an office or remotely at an outside country, would be a nice perk and seems to be somewhat normal nowadays because of the pandemic. Non-strict KPIs or no KPIs whatsoever would be pretty nice too. In general, I want to be paid well and work at least somewhat freely</p>
</div>
